<script setup>
const { episodes } = defineProps(["episodes"]);
</script>

<template>
  <div class="episode-list">
    <span class="subtitle">Episode List</span>

    <ul v-for="episode in episodes">
      <li>{{ episode.title }}</li>
    </ul>
  </div>
</template>

<style>
.episode-list {
  padding-right: 3em;
  width: 50em;
  /* TODO: Add overflow expansion */
  max-height: 22em;
  overflow-y: hidden;
}
</style>
