<script setup>
const { podcast } = defineProps(["podcast"]);
</script>

<template>
  <div class="card">
    <div class="card-content">
      <button class="is-danger delete" @click="$emit('delete', podcast.url)">
        Delete</button
      ><br />

      <div class="form-body">
        <div class="field">
          <label class="label">Feed Name</label>
          <div class="control">
            <input
              class="input"
              type="text"
              placeholder="Your Cast: Mega Feed"
              v-model="podcast.name"
            />
          </div>
        </div>

        <div class="field">
          <label class="label">Feed URL</label>
          <div class="control">
            <input
              class="input"
              type="url"
              placeholder="http://example.com/feed.rss"
              v-model="podcast.url"
            />
          </div>
        </div>

        <label class="checkbox" disabled>
          <input type="checkbox" disabled />
          Private feed
        </label>
      </div>
    </div>
  </div>
</template>

<style>
.form-body {
  margin-top: -1.5em;
}
</style>
