<script setup>
import EpisodeList from "./EpisodeList.vue";

const { filter } = defineProps(["filter"]);
</script>

<template>
  <div class="card">
    <div class="card-content">
      <button class="is-danger delete" @click="$emit('delete', filter.id)">
        Delete</button
      ><br />

      <div class="filter">
        <div class="filter-editor">
          <div class="field">
            <label class="label">Feed Title</label>
            <div class="control">
              <input
                class="input"
                type="text"
                placeholder="Your Cast: Aliens end Androids"
                v-model="filter.output_feed.name"
              />
            </div>
          </div>

          <div class="field">
            <label class="label">Filter</label>
            <div class="control">
              <input
                class="input"
                type="text"
                placeholder="Aliens end Androids"
                v-model="filter.filter"
              />
            </div>
          </div>

          <div class="field">
            <label class="label">Type</label>
            <div class="control">
              <div class="select">
                <select v-model="filter.type">
                  <option value="sw">starts with</option>
                  <option value="ew">ends with</option>
                  <option value="in">contains</option>
                  <option value="fb">fallback</option>
                </select>
              </div>
            </div>
          </div>

          <div class="field">
            <label class="checkbox">
              <input type="checkbox" v-model="filter.case_sensitive" />
              Case sensitive
            </label>
          </div>
        </div>

        <EpisodeList :episodes="filter.episodes" />
      </div>
    </div>
  </div>
</template>

<style>
.delete {
  float: right;
}
.filter {
  margin-top: -1.5em;
  display: flex;
}
.filter-editor {
  padding-right: 2em;
}
</style>
