<script setup lang="ts">
import { reactive, ref } from "vue";
import { useRoute } from "vue-router";

import InputFeed from "./components/InputFeed.vue";
import OutputFeed from "./components/OutputFeed.vue";
import { Editor } from "./editor-viewmodel";

const route = useRoute();
const editor = reactive(new Editor(route.params.id as string));

if (editor.id !== null) {
  editor.fetch();
}
const items = ref([1,2,3,4]);
</script>

<template>
  <div class="field">
    <label class="label">PodMux Title</label>
    <div class="control">
      <input
        class="input"
        type="text"
        placeholder="Your Cast Studios"
        v-model="editor.name"
      />
    </div>
  </div>

  <div class="buttons">
    <button
      class="button is-primary"
      @click="editor.save"
      :disabled="!editor.changed"
    >
      Save
    </button>

    <button
      class="button is-info is-light"
      :disabled="!editor.changed"
      @click="editor.updatePreview"
    >
      Refresh preview
    </button>
  </div>

  <hr />

  <div class="columns">
    <div class="column is-4">
      <div class="subtitle">
        Input Feeds
        <button @click="editor.addInputFeed">+</button>
      </div>

      <InputFeed
        v-for="podcast in editor.inputFeeds"
        :podcast="podcast"
        @delete="editor.deleteInputFeed($event)"
      />
    </div>

    <div class="column is-1">
      <div id="big-arrow" class="has-text-centered">→</div>
    </div>

    <div class="column is-7">
      <div class="subtitle">
        Output Feeds
        <button @click="editor.addFilter">+</button>
      </div>


	  <TransitionGroup name="filters">
      <OutputFeed
        v-for="filter in editor.filters"
		:key="filter.id"
        :filter="filter"
        @delete="editor.deleteFilter($event)"
		/>
	  </TransitionGroup>
    </div>
  </div>
</template>

<style>
.sources input {
  margin-bottom: 0.5em;
}

#big-arrow {
  font-size: 500%;
  color: #818181;
  user-select: none;
}

.card {
  margin-bottom: 0.5em;
}
.filters-enter-from {
height: 0;
}
.filters-enter-to {
height: 400px;
}
.filters-enter-active {
transition: all 0.4s ease;
}
</style>
