<script setup>
import { ref } from "vue";

const yourMuxes = ref([]);
const yourSubs = ref([]);

(async function () {
  let resp = await fetch("/api/mux/");
  yourMuxes.value = await resp.json();

  resp = await fetch("/api/sub/");
  yourSubs.value = await resp.json();
})();
</script>

<template>
  <div class="title">PodMux</div>
  <router-link to="/editor">Create new PodMux</router-link>
  <hr />
  <div class="columns">
    <div class="column">
      <div class="subtitle">Your PodMuxes</div>
      <ul>
        <li v-for="mux in yourMuxes">
          <router-link :to="`/editor/${mux.id}`">{{ mux.name }}</router-link>
          <a :href="`/api/mux/${mux.id}/opml/`">
            <span class="icon">
              <i class="mdi mdi-rss"></i>
            </span>
          </a>
        </li>
      </ul>
    </div>
    <div class="column">
      <div class="subtitle">Your Subscriptions</div>
      <ul>
        <li v-for="sub in yourSubs">
          {{ sub.name }}
        </li>
      </ul>
    </div>
  </div>
</template>
